
.header{ padding-top: 0.3rem; }
.logo{ text-align: center;}
.nav_bg{ background-color: #ececec; margin-top: 0.3rem; box-shadow:0 3px 3px #ddd; position: relative;}
.nav{ height: 0.72rem; max-width: 1280px; margin: 0 auto; border-left: 1px solid #d2d2d2; border-right: 1px solid #d2d2d2;}
.nav li{ float: left; height: 0.72rem; float: left; line-height: 0.72rem; width: 25%; font-size: 0.3rem; text-align: center; border-left: #d2d2d2 solid 1px; margin-left: -1px;}
.dian{ width: 0.1rem; height: 0.1rem; display: inline-block; background-color: #a7161d; border-radius: 50%; margin-top: 0.3rem; vertical-align: top; margin-right: 16px;}
.nav_down{ position: absolute; top: 0.72rem; max-width: 1280px; left: 0; width: 100%; display: none;}
.nav_down li{ height: 0.54rem; line-height: 0.54rem; font-size: 0.24rem; position: absolute; text-align: center;}
.nav_down li a{ color: #000;}


/* banner */
.banner_info_box{ background-color: rgba(0,0,0,0.6); position: absolute; left: 0; top: 0; width: 50%; height: 100%; color: #ccc;}
.banner_info{ width: 100%; max-width: 640px; float: right; position: relative; top: 50%; transform: translateY(-50%); padding:0 0.4rem 0 0.2rem; box-sizing: border-box;}
.banner_info b{ font-size: 0.36rem; font-weight: normal; display: block;}
.banner_info h3{ color: #fff; font-size: 0.48rem; font-weight: normal;}
.banner_info p{ font-size: 0.18rem; line-height: 0.28rem; margin-top: 0.2rem;}
.banner_info a{ font-size:0.18rem; height: 0.44rem; line-height: 0.44rem; padding: 0 0.3rem; display: inline-block; background-color: #fff; color: #666; margin-top: 0.32rem;}
.banner_box .swiper-pagination-bullet{ width: 0.38rem; height: 3px; border-radius:3rem; background-color: #666; opacity: 0.8;}
.banner_box .swiper-pagination-bullet-active{ background-color: #fff;}
.swiper-button-next, .swiper-button-prev{ margin-top: 0;}

.banner_bg_black{ background-color: #000;}
.banner_bg_black img{ opacity: 0.6;}
.banner_bg_black .banner_info_box{ background: none;}
.banner_bg_black .banner_info{ max-width: 640px; top: 0.45rem; transform: translateY(0);}
.banner_tag{ background-color: #a7161d; color: #fff; height:0.4rem; line-height: 0.4rem; padding: 0 0.1rem; display: inline-block;}
.banner_bg_black .banner_info b{ font-size: 0.26rem; margin-top: 0.6rem; color: #fff;}
.banner_bg_black .banner_info h3{ font-size: 0.6rem;}
.banner_bg_black .banner_info h4{ font-size: 0.26rem; color: #fff; margin-top: 0.1rem;}
.banner_bg_black .banner_info p{ margin-top: 0.3rem;}



@media only screen and (max-width: 900px) {
    .banner_info_box{ width: 100%;}
    .banner_info b{ font-size: 0.22rem;}
    .banner_info h3{ font-size: 0.3rem;}
    .banner_info p{ font-size: 0.18rem;}
    .banner_box img{ width: 130%;}

    .banner_bg_black .banner_info{ top: 0.2rem;} 
    .banner_bg_black .banner_info b{ font-size: 0.2rem; margin-top:0.2rem ;}
    .banner_bg_black .banner_info h3{ font-size: 0.28rem;}
    .banner_bg_black .banner_info h4{font-size: 0.2rem; margin-top: 0.05rem;}
    .banner_bg_black .banner_info p{ font-size: 0.16rem; margin-top: 0.2rem;}
    .swiper-container-horizontal>.swiper-pagination{ bottom: 5px;}
    
    .dian{ margin-right: 3px;}
}

