@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

// 字体上传到cdn再引用 不要引用无效地址
//@font-face{
//  font-family: "Ubuntu";
//  src:url('/static/font/ubuntu-r-s.woff');
//}


//基础变量
@import "~/assets/scss/mixin.scss";

body,
html {
    background: #fff;
    color: #353a3f;
    -webkit-font-smoothing: antialiased;
    font-weight:400;
    font-family: "Ubuntu",Arial;
}
html{
    font-size: 50px !important;
}
@media only screen and (min-width: 401px){
    html {font-size: 56px !important;}
}

@media only screen and (min-width: 569px){
    html {font-size: 64px !important;}
}
@media only screen and (min-width: 700px){
    html {font-size: 70px !important;}
}
@media only screen and (min-width: 1000px){
    html {font-size: 90px !important;}
}
div,input,p,textarea,ul,li,dl,dd,dt,section,nav,article,aside,header,footer,address{ box-sizing: border-box;}

body{
    font-size:px(24);
    line-height:1.5;
    //@include scale(1);
}

ul,li{
    list-style: none;
}
h1,h2,h3,h4,h5,{
    font-weight: normal;
}
em,i{
    font-style: normal;
}
img{ vertical-align: top;}
.clearfix:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden
}

a {
    color: #353a3f;
    text-decoration: none;
}

a:hover {
    color: #353a3f;
}

button {
    border: none;
    cursor: pointer;
}

[v-cloak] {
    display: none;
}
input,button,select,textarea{ outline:none;overflow: hidden;}
input {
    padding-left: 10px;
}

.m0{ margin: 0!important;}

.stopScroll{
    overflow: hidden;
    height: 100vh;
}

.btn{
    height: 0.44rem;
    line-height: 0.46rem;
    text-align: center;
    width: 1.8rem;
    color: #fff;
    font-size: 0.18rem;
    background-color: #a7161d;
    overflow: hidden;
}
.btn_plain{
    background-image:none;
    background-color: #fff;
    color: #1bbc9d;
    border: solid 1px #1bbc9d;
}

/*
 * vue专用
 * 保持在元素上直到关联实例结束编译
 */

[v-cloak] {
    display: none;
}


// swiper组件
.swiper-button-black{
    opacity: 0.8;
}
@media only screen and (max-width: 900px) {
    .swiper-container-horizontal>.swiper-pagination{ bottom: 5px;}
    .swiper-button-prev{left: 0;}
    .swiper-button-next{right: 0;}
    .swiper-button-next, .swiper-button-prev{ transform: scale(0.6);}
    .swiper-button-black{
        opacity: 0.5;
    }
}
